# Created by https://www.toptal.com/developers/gitignore/api/python
# Edit at https://www.toptal.com/developers/gitignore?templates=python

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/
myenv/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Distribution
dist/
build/
*.egg-info/

# Database
*.db
*.sqlite3

# Environment variables
.env

# Logs
*.log